.page {
  margin: 0px;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

.heading__space {
  width: 82%;
  max-width: 1180px;
  display: flex;
  justify-content: space-between;
}
.heading {
  height: 74px;
  width: 100%;
  background-color: #2e2e2e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 64px;
}
.heading__escape {
  font-size: 25.72px;
  font-weight: 400;
  font-family: "Lora";
  color: #ffffff;
}
.heading__subtitle {
  font-size: 13.85px;
  font-weight: 400;
  font-family: "Oxygen";
  color: #ffffff;
}
.avatar {
  height: 34px;
  width: 34px;
  border-radius: 20px;
  background-color: #dd783f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-family: "Oxygen";
  color: #ffffff;
}
.back {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-menu {
  width: 80px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-post {
  width: 82%;
  max-width: 1180px;
}
.new-post__heading {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}
.new-post__description {
  height: 60px;
  width: 60%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}
.new-post__title {
  margin: 0;
  font-size: 34px;
  font-weight: 400;
  font-family: "Lora";
  color: #000000;
}
.new-post__subtitle {
  font-size: 14px;
  font-weight: 400;
  font-family: "Oxygen";
  color: #2e2e2ea1;
}
.publish {
  padding: 0;
  border: none;
  text-decoration: none;
  background-color: #dd783f;
  border-radius: 3px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Oxygen";
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 100px;
}
.new-post__window {
  background-color: #ffffff;
  border-radius: 3px;
  padding: 40px;
  padding-bottom: 56px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-information__title {
  font-size: 27px;
  font-weight: 400;
  font-family: "Lora";
  color: #000000;
}
.new-post__form {
  display: flex;
  flex-direction: column;
  width: 52%;
}
.field-description {
  font-size: 12px;
  font-weight: 400;
  font-family: "Oxygen";
  color: #7a7a7a;
  margin-bottom: 5px;
  margin-top: 40px;
}
.field-input {
  background-color: #ffffff;
  height: 40px;
  border-color: #eaeaea;
  border-width: 0;
  border-bottom-width: 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.heading__logo {
  display: flex;
  align-items: baseline;
}
.field-avatar {
  height: 48px;
  width: 48px;
  border-radius: 24px;
  margin-right: 16px;
}
.upload-button {
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  padding: 0;
  border: none;
  text-decoration: none;
  background-color: #ffffff;
  color: #2e2e2e;
}
.upload-image {
  display: flex;
  align-items: center;
}
.field-hero-image {
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
  height: 160px;
}
.extension-description {
  font-size: 12px;
  font-weight: 400;
  font-family: "Oxygen";
  color: #999999;
  margin-bottom: 5px;
  margin-top: 12px;
  display: block;
}
.small-field-hero-image {
  width: 100%;
  max-width: 296px;
  object-fit: cover;
  border-radius: 6px;
}
.preview {
  width: 45%;
  max-width: 440px;
  padding-top: 40px;
}
.upper-outer {
  height: 385px;
  margin-top: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: end;
}
.upper-middle {
  height: 353px;
  width: 93%;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  position: relative;
}
.upper-center {
  border-bottom-style: solid;
  border-color: #d3d3d3;
  border-bottom-width: 1px;
  height: 23px;
  width: 100%;
  display: flex;
  align-items: center;
}
.bottom-grad {
  position: absolute;
  height: 75px;
  width: 100%;
  bottom: 0;
  background: linear-gradient(to bottom, transparent, #ffffff);
}
.right-grad {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 400px;
  width: 119px;
  background: linear-gradient(to right, transparent, #ffffff);
}
.upper {
  position: relative;
  margin-bottom: 20px;
}
.dots {
  margin-left: 9px;
  display: flex;
  align-items: center;
}
.dot {
  margin-right: 3px;
}
.preview-title {
  height: 112px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.preview-title__title {
  margin: 0;
  margin-bottom: 4px;
  font-family: Lora;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  color: #2e2e2e;
}
.preview-title__subtitle {
  margin: 0;
  font-family: Oxygen;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  color: #7a7a7a;
}
.preview-upper-image {
  height: 160px;
  width: 100%;
  background-color: #f7f7f7;
  object-fit: cover;
}
.lower {
  position: relative;
}
.lower-outer {
  height: 360px;
  margin-top: 16px;
  padding-top: 32px;
  padding-left: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.post-card {
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
  height: 291px;
  width: 296px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
}
.preview-lower-image {
  height: 150px;
  width: 296px;
  background-color: #f7f7f7;
  object-fit: cover;
}
.preview-lower-title {
  height: 72px;
  border-style: solid;
  border-color: #efefef;
  border-width: 0;
  border-top-width: 1px;
  border-bottom-width: 1px;
  background-color: #ffffff;
  padding: 10px;
}
.preview-lower-title__title {
  font-family: Lora;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  margin: 0px;
  margin-bottom: 7px;
  color: #2e2e2e;
}
.preview-lower-title__subtitle {
  font-family: Oxygen;
  font-size: 13px;
  margin: 0px;
  font-weight: 400;
  text-align: left;
  color: #7a7a7a;
  width: 270px;
  text-overflow: clip;
}
.preview-lower-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding-left: 13px;
  padding-right: 13px;
}
.avatar-preview {
  width: 26px;
  height: 26px;
  border-radius: 13px;
  margin-right: 10px;
}
.author {
  width: 70%;
  display: flex;
  align-items: center;
}
.author-name {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  color: #999999;
}
.date {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: right;
  color: #999999;
}
.content {
  width: 82%;
  max-width: 1180px;
  background-color: #ffffff;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 338px;
}
.content__inside {
  height: 100%;
  padding: 40px;
  padding-bottom: 56px;
}
.content__title {
  font-size: 27px;
  font-weight: 400;
  font-family: "Lora";
  color: #000000;
  margin-bottom: 40px;
}
.content-input {
  padding: 8px;
  margin-top: 5px;
  width: calc(80% - 16px);
  max-width: calc(100% - 16px);
  min-height: 160px;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
  border-radius: 5px;
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  text-align: justified;
}
.remove {
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #e86961;
  margin-left: 13px;
}
.remove-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}

.centering {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.small-camera {
  margin-right: 9px;
  display: block;
}

.small-hero-camera {
  margin-right: 9px;
}

.upper-margin {
  margin-top: 12px;
}

.hidden {
  display: none;
}

.field-input-empty {
  border-color: #eaeaea;
  background-color: #ffffff;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.field-input-not-empty {
  border-color: #2e2e2e;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.oops-window {
  height: 0px;
  background-color: #ffebea;
  margin-bottom: 0px;
  border-radius: 5px;
  border-width: 0;
  border-left-width: 2px;
  border-style: solid;
  border-color: #e86961;
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
  font-family: Oxygen;
  font-size: 0px;
  font-weight: 400;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-bottom 0.3s ease-out;
}

.huzzar-window {
  height: 0px;
  background-color: #e6fcef;
  margin-bottom: 0px;
  border-radius: 5px;
  border-width: 0;
  border-left-width: 2px;
  border-style: solid;
  border-color: #67c38c;
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
  font-family: Oxygen;
  font-size: 0px;
  font-weight: 400;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-bottom 0.3s ease-out;
}

.height-44 {
  height: 44px;
  font-size: 14px;
  margin-bottom: 16px;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-bottom 0.3s ease-out;
}

.img-shrink {
  height: 45%;
}

.error {
  color: #e86961;
  font-family: Oxygen;
  font-size: 0px;
  font-weight: 400;
  line-height: 16px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-top 0.3s ease-out;
}
.error-appear {
  font-size: 12px;
  margin-top: 5px;
  height: 16px;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-top 0.3s ease-out;
}
.error-field {
  border-color: #e86961;
  transition: border-color 0.3s ease-out;
}
