.page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100wh;
  margin: 0px;
  padding: 0px;
  background-image: url("/static/img/psheno.jpg");
  background-size: cover;
  position: relative;
}
.page::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: inherit;
  background-color: black;
  opacity: 0.4;
}
.logo {
  height: 85px;
  width: 380px;
  margin-left: 16%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.logo__upper {
  width: 232px;
  height: 51px;
}
.logination {
  height: 504px;
  width: 400px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  margin-right: 9%;
  padding-top: 56px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}
.title {
  font-family: Lora;
  font-size: 34px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
}
.form {
  display: flex;
  flex-direction: column;
}
input:focus {
  outline: none;
}
.field-title {
  font-family: Oxygen;
  font-size: 12px;
  font-weight: 400;
  color: rgba(122, 122, 122, 1);
  margin-top: 40px;
  margin-bottom: 5px;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.field {
  height: 40px;
  width: 396px;
  border-style: solid;
  border-color: rgba(234, 234, 234, 1);
  border-width: 0;
  border-bottom-width: 1px;
  padding: 0px;
  padding-left: 4px;
  color: rgba(46, 46, 46, 1);
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.button {
  background-color: rgba(221, 120, 63, 1);
  height: 48px;
  width: 93px;
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  font-family: Oxygen;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.slogan {
  margin-top: 16px;
  font-family: Oxygen;
  color: rgba(255, 255, 255, 1);
  font-size: 17px;
  font-weight: 400;
}
.eye {
  margin-top: -120px;
  margin-left: 371px;
  width: 24px;
  height: 24px;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.field-input-empty {
  border-color: #eaeaea;
  background-color: #ffffff;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}

.field-input-not-empty {
  border-color: #2e2e2e;
  background-color: #f7f7f7;
  transition: background-color 0.3s ease-out, border-color 0.3s ease-out;
}
.oops-window {
  height: 0px;
  background-color: #ffebea;
  margin-bottom: 0px;
  border-radius: 5px;
  border-width: 0;
  border-left-width: 2px;
  border-style: solid;
  border-color: #e86961;
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
  font-family: Oxygen;
  font-size: 0px;
  font-weight: 400;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-bottom 0.3s ease-out;
}

.huzzar-window {
  height: 0px;
  background-color: #e6fcef;
  margin-bottom: 0px;
  border-radius: 5px;
  border-width: 0;
  border-left-width: 2px;
  border-style: solid;
  border-color: #67c38c;
  display: flex;
  align-items: center;
  padding-left: 12px;
  gap: 12px;
  font-family: Oxygen;
  font-size: 0px;
  font-weight: 400;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-bottom 0.3s ease-out;
}

.height-44 {
  height: 44px;
  font-size: 14px;
  margin-bottom: 16px;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-bottom 0.3s ease-out;
}

.img-shrink {
  height: 45%;
}
.text-shrink {
}
.error {
  color: #e86961;
  font-family: Oxygen;
  font-size: 0px;
  font-weight: 400;
  line-height: 16px;
  height: 0px;
  margin: 0px;
  padding: 0px;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-top 0.3s ease-out;
}
.error-appear {
  font-size: 12px;
  margin-top: 5px;
  height: 16px;
  transition: height 0.3s ease-out, font-size 0.3s ease-out,
    margin-top 0.3s ease-out;
}
.error-field {
  border-color: #e86961;
  transition: border-color 0.3s ease-out;
}
.error-eye {
  margin-top: -141px;
  transition: margin-top 0.3s ease-out;
}
