.page
{
    margin: 0;
}

.welcome-sheet
{
    background: #FFFFFF;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-sheet_background
{
    background-image: url("background.png");
    height: 500px;
    width: 100%;
}

.heading
{
    position: absolute;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}

.heading__centering
{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
}

.basement__escape
{
    font-family: 'Lora', serif;
    font-size: 26px;
}

.basement__escape_white
{
    color: #FFFFFF;
}

.basement__escape_gray
{
    color: #2E2E2E;
}

.heading__escape
{
    font-family: 'Lora', serif;
    font-size: 26px;
}

.heading__escape_color_white
{
    color: #FFFFFF;
}

.heading__escape_color_gray
{
    color: #2E2E2E;
}

.navigation
{
    display: flex;
    width: 36%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.navigation__link
{
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
}

.navigation__link_color_white
{
    color: #FFFFFF;
}

.navigation__link_color_gray
{
    color: #2E2E2E;
}

.welcome-sheet__slogan
{
    font-family: 'Lora', serif;
    font-size: 50px;
    margin-bottom: 20px;
}

.welcome-sheet__slogan_color_white
{
    color:#FFFFFF;
}

.welcome-sheet__slogan_color_gray
{
    color:#2E2E2E;
}

.welcome-sheet__subtitle
{
    font-family: 'Oxygen', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin: 0 0 31px;
}

.welcome-sheet__subtitle_color_white
{
    color:rgba(255, 255, 255, 0.63);    
}

.welcome-sheet__subtitle_color_gray
{
    color:rgba(46, 46, 46, 0.63);    
}

.welcome-sheet__view_button
{
    background: rgba(221, 120, 63, 1);
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    color:#FFFFFF;
    border: 0;
    width: 167px;
    height: 44px;
    border-radius: 3px;  
}

.categories
{
    background: rgba(255, 255, 255);
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.categories__elem
{
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 14px;
    color:rgba(118, 128, 136, 1);
}

.main
{
    background: rgba(247, 247, 247, 1);
    padding-bottom: 108px;
}

.featured-posts__title
{
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;  
    color:rgba(46, 46, 46, 1);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(222, 222, 222, 1); 
    width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    padding-bottom: 16px;
    margin-top: 60px;
}

.most-recent-posts-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.most-recent-posts
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: calc(940%/1440*100);
    gap: 24px;
       
}

.most-recent-posts__title
{
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;  
    color:rgba(46, 46, 46, 1);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(222, 222, 222, 1); 
    width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    padding-bottom: 16px;
    margin-top: 67px;
}

.featured-posts
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.featured-post
{  
    height: 240px;
    width: 420px;
    padding: 20px;
    border-radius: 3px;
    background-size: cover;
    margin: 10px 10px 10px 10px;
}

.featured-post__background_the-road-ahead
{
    background-image: url("background-of-the-road-ahead.png");  
}

.featured-post__background_from-top-to-down
{
    background-image: url("background-of-from-top-to-down.png");    
}

.featured-posts-section
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.featured-post__info
{
    display: flex;
    justify-content: space-between;
}

.featured-post__author
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-post__title
{
    font-family: 'Lora', serif;
    font-size: 27px;
    color:rgba(255, 255, 255, 1);
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 6px;
}

.featured-post__description
{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color:rgba(255, 255, 255, 0.7);
    margin-top: 0px;
    margin-bottom: 17px;
}

.featured-post__author-name
{
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.7);
    margin-left: 10px; 
}

.featured-post__publish-date
{
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-post__splash
{
    background: rgba(221, 120, 63, 1);
    width: 87px;
    height: 26px;
    border-radius: 2px; 
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured-post__upper-block
{
  height: 137px;
}

.most-recent-post
{
    background: rgba(255, 255, 255, 1);
    width: 296px;
    height: 291px;
}

.most-recent-post__title
{
    font-family: 'Lora', serif;
    font-size: 16px;
    color:rgba(16, 19, 21, 1);
}

.most-recent-post__image
{
    width: 296px;
    height: 150px;
}

.most-recent-post__description
{
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    color:rgba(122, 122, 122, 1); 
}

.most-recent-post__info
{
    background: rgba(252, 252, 252, 1);
    width: 270px;
    height: 22px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(239, 239, 239, 1);
    display: flex;
    justify-content: space-between;
    padding: 13px;
}

.most-recent-post__author-name
{
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
    color:rgba(153, 153, 153, 1); 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px; 
}

.most-recent-post__publish-date
{
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
    color:rgba(153, 153, 153, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.basement
{
    background-size: cover;
    height: 378px;
    width: 100%;
    background-image: url("village.jpg");
    background-size: cover;
}

.basement__email-input
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.basement__stay-in-touch
{
    height: 289px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.basement__overlay
{
    background-color: rgba(35, 47, 56, 0.6);
    background-size: cover;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.basement__foot
{
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    width: calc(920%/1440*100);
}

.the-road-ahead_image
{
    background-size: cover;
    height: 534px;
}

.post
{
    width: 960px;
    height: 1431px;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    background: rgba(247, 247, 247, 1);
}

.basement__title
{
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    font-size: 25px;  
    color:#EFEFEF;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: #DEDEDE; 
    width: 188px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 17px;
}

.email-input
{
    background: #FFFFFF;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    color:#817F83;
    border: 0;
    width: 23.5%;
    height: 50px;
    border-radius: 3px 0px 0px 3px;
    padding-left: 2.5%;
}

.email-submit
{
    background: #FFFFFF47;
    font-family: 'roboto', sans-serif;
    font-size: 12px;
    color:#F8F8F8;
    border: 0;
    width: 8.7%;
    height: 50px;
    border-radius: 0px 3px 3px 0px;
}

.most-recent-post__upper
{
    height: 66px;
    padding: 13px;
}

.most-recent-post__author
{
    display: flex;
    justify-content: center;
    align-items: center;
}