.title
{
    background: rgba(247, 247, 247, 1);
    background-image: url("background.png");
    height: 500px;
    width: 1440px;
}

.escape
{
    font-family: 'Lora', serif;
    font-size: 26px;
    color: #FFFFFF;
}

.escape_the_road_ahead
{
    font-family: 'Lora', serif;
    font-size: 26px;
    color: rgba(46, 46, 46, 1);
}

.navigation
{
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
    color:rgba(255, 255, 255, 0.6);
}

.navigation_the_road_ahead
{
    text-decoration: none;
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
    color:rgba(46, 46, 46, 1);
}

.slogan
{
    font-family: 'Lora', serif;
    font-size: 50px;
    color:#FFFFFF;
    font-weight: 400;
}

.slogan_the_road_ahead
{
    font-family: 'Lora', serif;
    font-size: 50px;
    color:rgba(46, 46, 46, 1);
    font-weight: 400;
}

.small_slogan
{
    font-family: 'Oxygen', sans-serif;
    font-size: 17;
    color:rgba(255, 255, 255, 0.63);    
}

.small_slogan_the_road_ahead
{
    font-family: 'Oxygen', sans-serif;
    font-size: 17;
    color:rgba(46, 46, 46, 0.63);  
}

.view_button
{
    background: rgba(221, 120, 63, 1);
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    color:#FFFFFF;
    border: 0;
    width: 167px;
    height: 44px;
    border-radius: 3px;  
}

.categories
{
    background: rgba(255, 255, 255);
    height: 65px;
    width: 1440px;
}

.categories__elem
{
    text-decoration: none;
    font-family: 'Lora', serif;
    font-size: 14px;
    color:rgba(118, 128, 136, 1);
}

.main
{
    background: rgba(247, 247, 247, 1);
}

.posts_title
{
    font-weight: 400;
    font-family: 'Oxygen', sans-serif;
    font-size: 20px;  
    color:rgba(46, 46, 46, 1);
    border-width: 0px 0px 1px 0px;
    border-style: solid;
    border-color: rgba(222, 222, 222, 1); 
    width: 188px;
}

.The_Road_Ahead_Post
{
    background-image: url("background_of_the_road_ahead.png");
    height: 280px;
    width: 460px;
    border-radius: 3px;
    background-size: cover;
}

.title_of_feature_post
{
    font-family: 'Lora', serif;
    font-size: 27px;
    color:rgba(255, 255, 255, 1);
    font-weight: 400; 
}
.text_of_feature_post
{
    font-family: 'Oxygen', sans-serif;
    font-size: 14px;
    color:rgba(255, 255, 255, 0.7);  
}

.info_about_feature_post
{
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color:rgba(255, 255, 255, 0.7); 
}

.adventure_splash
{
    background: rgba(221, 120, 63, 1);
    width: 87px;
    height: 26px;
    border-radius: 2px; 
    font-family: 'Oxygen', sans-serif;
    font-size: 12px;
    color:#FFFFFF;
}

.From_Top_To_Down_Post
{
    background-image: url("background_of_from_top_to_down.png");
    height: 280px;
    width: 460px;
    border-radius: 3px;
    background-size: cover;
}

.most_recent_post
{
    background: rgba(255, 255, 255, 1);
    width: 296px;
    height: 291px;
}

.most_recent_title
{
    font-family: 'Lora', serif;
    font-size: 16px;
    color:rgba(16, 19, 21, 1);
}

.text_of_most_recent_post
{
    font-family: 'Oxygen', sans-serif;
    font-size: 13px;
    color:rgba(122, 122, 122, 1); 
}

.most_recent_info
{
    background: rgba(252, 252, 252, 1);
    width: 296px;
    height: 48px;
    border-width: 1px 0px 0px 0px;
    border-style: solid;
    border-color: rgba(239, 239, 239, 1);
}

.most_recent_info__text
{
    font-family: 'Oxygen', sans-serif;
    font-size: 11px;
    color:rgba(153, 153, 153, 1); 
}

.image_scale
{
    width: 296px;
    height: 150px;
}

.end
{
    width: 1440px;
    height: 89px;
    background-image: url("village.jpg");
    background-size: cover;
}

.overlay
{
    background-color: rgba(35, 47, 56, 0.6);
    width: 1440px;
    height: 89px;
}

.scale_the_road_ahead
{
    width: 1440px;
    height: 534px;
}

.text_the_road_ahead
{
    width: 960px;
    height: 1431px;
    font-family: 'Oxygen', sans-serif;
    font-size: 24px;
    color:rgba(16, 19, 21, 1); 
}